<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lsy.community.dao.UserMapper">
    <!--通用查询全部的头-->
    <sql id="selectFields">
        id,username,password,salt,email,type,status,activation_code,header_url,create_time
    </sql>

    <!--插入信息全部的头-->
    <sql id="insertFields">
        username,password,salt,email,type,status,activation_code,header_url,create_time
    </sql>

    <!--插入一个用户-->
    <insert id="insertUser" parameterType="com.lsy.community.entity.User" keyProperty="id">
        insert into user (<include refid="insertFields"></include>)
        values (#{username},#{password},#{salt},#{email},#{type},#{status},#{activationCode},#{headerUrl},#{createTime})
    </insert>

    <!--根据id更新用户状态-->
    <update id="updateStatus">
        update user set status = #{status}
        where id = #{id}
    </update>

    <!--根据id更新头像-->
    <update id="updateHeader">
        update user set header_url = #{headerUrl}
        where id = #{id}
    </update>

    <!--根据id更新密码-->
    <update id="updatePassword">
        update user set password = #{password}
        where id = #{id}
    </update>

    <!--根据id查询用户信息-->
    <select id="selectById" resultType="com.lsy.community.entity.User">
        select <include refid="selectFields"></include>
        from user
        where id  = #{id}
    </select>

    <!--根据用户名查询用户信息-->
    <select id="selectByName" resultType="com.lsy.community.entity.User">
        select <include refid="selectFields"></include>
        from user
        where username = #{username}
    </select>

    <!--根据电子邮箱查询用户信息-->
    <select id="selectByEmail" resultType="com.lsy.community.entity.User">
        select <include refid="selectFields"></include>
        from user
        where email = #{email}
    </select>

</mapper>